@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	#navigation.gradient {
		height: 50px;
		#logo {
			left: 20px;
			top: 10px;
			img {
				width: 72px;
				height: 36px;
			}
		}
		.menu-content {
			padding-top: 5px;
			li {
				font-size: 10px;
			}
		}
	}
	.photonav{
		p{
			font-size: 18px;
		}
	}
	#photo-container{
		img{
			margin: 0% 0.5%;
			width: 99%;
		}
		.album{
			width: 40%;
			margin: 4%;
			p{
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
	h1{
		font-size: 40px;
	}
	#content-container{
		padding: 0;
	}
	#webpage{
		padding: 0 5%;
	}
	.proj-content{
		width: 96%;
		padding: 100px 2%;
		.description{
			span{
				font-size: 20px;
			}
		}
	}
    .proj-container-container{
		width: 47%; 
		.content-proj-container{
			p{
				font-size: 26px;
			}	
			li{
				font-size: 20px;
			}
		}
	}
	#initialpage-container{
		height: 75%;
		#fulltextcontainer-top{
			height: 85%;
		}
		#fulltext,#fulltext-top{
			vertical-align: bottom;
		}
	}
	p{
		font-size: 20px;
	}
	#social{
		a{
			margin-right: 3px;
			img{
				width: 25px;
				height: 25px;
			}
		}
		hr{
			width: 50px;
		}
	}
}

@media only screen and (max-width: 400px), only screen and (orientation: portrait){
	/* portrait phones */

	/* Removing landing page partial on portrait mode, because too hard to maintain*/
	#initialpage-container {
		display: none;
	}
	#webpage {
		padding-top: 70px;
	}

	.proj-overview{
		img {
			height: 60px;
		}
		p{
			font-size: 24px;
		}
	}
	#navigation.gradient {
		#menu-icon{
			display: inline-block; 
			position: fixed; 
			z-index: 10; 
			right: 0; 
			top: 0; 
			padding: 10px;
			img{
				height: 30px; 
				width: 30px;
			}
			#exit{
				display: none;
			}
		}
		#container-before{
			display: none;
		}
		#container {
			overflow-y: scroll;
			left: 0;
			top:0;
			position: fixed;
			float: none;
			display: table;
			visibility: hidden;
			opacity: 0;
			background-color: rgba(21,24,28,0.95);
			width: 100%;
			height: 200%;
			z-index: 4;
			#menubar{
				float: none; 
				display: table; 
				text-align: center; 
				position: relative; 
				z-index: 3;
				height: 50%;
				width: 100%;
				ul.menu-content{
					display: table-cell;
					vertical-align: middle; 
					float: none; 
					padding: 0;
					li{
						text-align: center; 
						border:none; 
						float: none; 
						margin:0; 
						padding: 10%; 
						display: block; 
						transition: all 0.5s ease;
						font-size: 40px; 
						a {
							font-size: inherit;
						}
						&:hover{
							cursor: pointer;
						}
					}
				} 
			}
		}
	}
	.proj-container-container{
		width: 100%;
		margin: 15px 0;
		.content-proj-container{ 
			padding-top: 15%;
			padding-bottom: 15%;
		}
	}
	.proj-content{
		padding-top: 0px;
		.description{
			span{
				font-size: 14px;
			}
		}
	}

	#photo-container{
		img{
			margin: 1%;
			width: 98%;
		}
		.album{
			width: 80%;
			margin: 4%;
			padding: 10px 7px 7px 7px;
			p{
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}