@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	.photonav{
		p{
			font-size: 18px;
		}
	}
	#photo-container{
		img{
			margin: 0% 0.5%;
			width: 99%;
		}
		.album{
			width: 40%;
			margin: 4%;
			p{
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
	h1{
		font-size: 40px;
	}
	#content-container{
		padding: 0;
	}
	#webpage{
		padding: 0 5%;
	}
	.proj-content{
		width: 96%;
		padding: 100px 2%;
		.description{
			span{
				font-size: 22px;
			}
		}
	}
    .proj-container-container{
		width: 47%; 
		.content-proj-container{
			p{
				font-size: 26px;
			}	
			li{
				font-size: 20px;
			}
		}
	}
	#initialpage-container{
		height: 75%;
		#fulltextcontainer-top{
			height: 85%;
		}
		#fulltext,#fulltext-top{
			vertical-align: bottom;
		}
	}
	p{
		font-size: 20px;
	}
	#social{
		a{
			margin-right: 3px;
			img{
				width: 20px;
				height: 20px;
			}
		}
		hr{
			width: 50px;
		}
	}
}

@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) and (orientation: portrait){
	/* portrait phones */
	#container-before{
		display: none;
	}
	#container{
		left: 0;
		top:0;
		position: fixed;
		float: none;
		display: table;
		visibility: hidden;
		opacity: 0;
		background-color: rgba(21,24,28,0.95);
		width: 100%;
		height: 100%;
		z-index: 4;
	}
	.proj-overview{
		p{
			font-size: 24px;
		}
	}
	#initialpage-container{
		height: 45%;
		#fulltextcontainer-top{
			height: 85%;
		}
		#fulltext,#fulltext-top{
			vertical-align: middle;
		}
	}
	#menubar{
		float: none; 
		display: table-cell; 
		vertical-align: middle; 
		text-align: center; 
		position: relative; 
		z-index: 3;
		ul{
			display: block; 
			float: none; 
			padding: 0;
			li{
				text-align: center; 
				border:none; 
				float: none; 
				margin:0; 
				padding: 10%; 
				display: block; 
				transition: all 0.5s ease;
				a{
					font-size: 40px; 
					display: inline;
					&:hover{
						cursor: pointer;
					}
				}
			}
		} 
	}
	#menu-icon{
		display: inline-block; 
		position: fixed; 
		z-index: 10; 
		right: 0; 
		top: 0; 
		padding: 20px;
		img{
			height: 50px; 
			width: 50px;
		}
		#exit{
			display: none;
		}
	}
	.proj-container-container{
		.content-proj-container{ 
			p{
				font-size: 20px;
			}	
			li{
				font-size: 16px;
			}
		}
	}
	.proj-content{
		.description{
			span{
				font-size: 18px;
			}
		}
	}
}
@media only screen and (max-device-width: 667px) and (orientation: portrait){
	.proj-container-container{
		.content-proj-container{ 
			p{
				font-size: 26px;
			}	
			li{
				font-size: 22px;
			}
		}
	}
}

@media only screen and (max-device-width: 440px) and (orientation : portrait) {
	.proj-container-container{
		width: 100%;
		margin: 15px 0;
	}
	.proj-content{
		.description{
			span{
				font-size: 14px;
			}
		}
	}

	#photo-container{
		img{
			margin: 1%;
			width: 98%;
		}
		.album{
			width: 80%;
			margin: 4%;
			padding: 10px 7px 7px 7px;
			p{
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}
